* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Common Pixel', sans-serif;
    text-decoration: none;
    color: inherit;
}

body {
    background-image: url(../assets/backgroungpoke.png);
    background-position: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 6rem;
    width: auto;
    background-color: rgb(176, 176, 176);
}

header img:hover {
    filter: drop-shadow(2px 0px 10px red);
}

#loginHeader:hover {
    color: red;
    filter: drop-shadow(2px 0px 10px red);
}

#btMenuHeader,
#carrinhoComprasHeader {
    background-color: transparent;
    border: none;
}

#btMenuHeader:hover,
#carrinhoComprasHeader:hover {
    filter: drop-shadow(0px 0px 2px red);
}

#inputHeader {
    height: 5vh;
    width: 25rem;
    border: black 0px solid;
    border-radius: 14px;
    text-align: center;
    transition: 3ms linear;
    outline: solid 1px red;
}

#inputHeader:hover {
    border-radius: 0;
    border: 2px solid red;
    filter: drop-shadow(2px 0px 10px red);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#abaCarinhoDeCompras {
    height: 15rem;
    width: 10rem;
    background-color: rgba(195, 0, 0, 0.696);
    position: absolute;
    top: 6em;
    left: 70rem;
    z-index: 999;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0s 0.3s;
}

#abaCarinhoDeCompras.visible {
    visibility: visible;
    opacity: 1;
}

#sairCarrinhosCompras {
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    transition: transform 0.5s ease;
}

#sairCarrinhosCompras:hover {
    animation: moveAndRotate 500ms ease-in-out;
}

@keyframes moveAndRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#abaCarinhoDeCompras button {
    transition: 200ms linear;
}

#abaCarinhoDeCompras button:hover {
    transform: scale(1.5);
}

#menuLateral {
    position: fixed;
    top: 2rem;
    left: 2rem;
    width: 30vh;
    height: 50%;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    background-color: #c0c0c0ee;
    box-shadow: 20px 20rem 90px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.6s, opacity 0.6s ease-in-out;
    z-index: 1000;
    transition: 800ms linear ease-in-out;
    border: 2px solid black;
}

#menulateral a {
    text-decoration: none;
    color: #ddd;
}


#sairFaleConosco {
    position: absolute;
    height: 3rem;
    width: 3rem;
    top: -20vh;
    left: 35rem;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
}

#subAbaMenuLateralFalaConosco {
    position: absolute;
    top: 5rem;
    width: 75rem;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #c0c0c0dc;
    box-shadow: 0vh 0vh 10rem 30vh rgb(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
    z-index: 10;
    transform: skew(20deg);
    border-radius: 15px;
}

#subAbaMenuLateralSobreNós {
    position: absolute;
    top: 8rem;
    width: 24rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    gap: 20vh;
    background-color: #c0c0c0dc;
    box-shadow: 0vh 0vh 10rem 30vh rgb(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
    z-index: 10;
    rotate: 44deg;
    border-radius: 15px;
}

#corpoSubAbaMenuLateral a {
    rotate: -44deg;
    display: flex;
    gap: 10vh;
    margin-left: 15vh;
    margin-top: -10vh;
    text-align: center;
}

#sairSobreNos {
    background-color: rgb(119, 119, 119);
    height: 5rem;
    width: 5rem;
    text-align: center;
    transform: rotate(44deg);
    font-size: 35px;
    cursor: pointer;
    left: 10pc;
}


#subAbaMenuLateralFalaConoscoInput1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    transform: skew(-20deg);
    height: 15rem;
    width: 32rem;
    gap: 30px;
}

#mensagemDiretaFaleConosco {
    height: 14vh;
    width: 92vh;
    margin-bottom: 10px;
    transform: skew(-30deg);
    background-color: #f4f4f4;
    border: 2px solid #ccc;
    overflow: auto;
}

.carousel {
    flex-direction: row;
    width: 80%;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-top: 14vh;
    transform: skew(5deg);
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    display: flex;
}

.carousel-item {
    min-width: 100%;
    text-align: center;
    background-image: url(../assets/Battle\ background\,\ Chrysope.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    transform: skew(25deg);
}

.carousel-button.prev {
    left: 30px;
}

.carousel-button.next {
    right: 30px;
}


#topSemanal {
    background-color: red;
    height: 6rem;
    width: 65rem;
    border: 3px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    transform: skew(25deg);
}


#boxProdutos {
    background-color: #c0c0c0dc;
    height: 20rem;
    width: 60rem;
    display: flex;
    overflow:scroll;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 4rem;
    margin-bottom: 4rem;
    flex-direction: row; 
    gap: 1rem; 
  }
  
  .cardprodutos{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 25px;
  }